databricks_sdk==0.63.0
matplotlib==3.10.7
mlflow==2.22.1
mlflow_skinny==2.22.1
numpy==2.3.5
openai==2.8.0
pandas==2.3.3
python-dotenv==1.2.1
scikit_learn==1.7.2
seaborn==0.13.2
shap==0.48.0
tensorflow==2.18.0
tf_keras==2.18.0
tqdm==4.67.1
transformers==4.53.2
vaderSentiment==3.3.2
vaderSentiment==3.3.2
xgboost==3.1.1
yfinance==0.2.58
